body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

p {
  cursor: pointer;
}

h1 {
  text-align: center;
}

.list-group-item {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
p {
  display: inline-block;
  width: 60%;
}

p ~ .btn {
  width: 40%;
}

.complete {
  font-size: 1.05rem;
  color: #dc3545;
  text-decoration: line-through;
}
.task-app {
  padding: 1rem;
  width: 800px;
  height: 500px;
  overflow: hidden;
}

.list-group {
  height: 400px;
  overflow-y: auto;
}

.form-app > .btn-block {
  width: 100%;
}
